.checkbox {
  .card {
    overflow: hidden;
  }
  input {
    position: relative;
    top: -1px;
    margin-right: 3px;
  }
  label {
    user-select: none;
  }
  .checkbox-content-container {
    overflow: hidden;
    background-color: #111;
    background: url(assetPath('checkbox.jpg')) no-repeat;
    background-size:100%;
  }
  .checkbox-content {
    display: none;
    width:100%;
    padding-top:43%;
  }
}
