
#next,
#back {
  z-index:1000;
  transition: all .2s ease-in-out;
  position: absolute;
  border:none;
  background-color:transparent;
  bottom:30px;
  right:30px;
  font-size:2em;
  color:rgba(0,0,0,0.2);
  &:hover {
    color:rgba(0,0,0,0.4);
  }
  &:focus {
    outline:none;
  }
}
#next {

}
#back {
  transform: translateX(-120%) scale(0.93) translateY(3%);
}
