---
# Only the main Sass file needs front matter (the dashes are enough)
---

$blue: #00395E;
$red: #b53036;
$white: #F6F6F3;

$path: '/us-js/assets/images/uppsala-js/';
@function assetPath($file) {
  @return "#{$path}#{$file}";
}

@import "normalize";
@import "uppsala-js/controls";
@import "uppsala-js/checkbox";
@import "uppsala-js/users";

/* * * * * * * * * * * * * * * * * * * * *
* General
* * * * * * * * * * * * * * * * * * * * */
html {
  font-size: 62.5%;
}

body {
  background-color:$blue;
  font-size:16px;
  font:400 1.6rem/1.4 'source sans pro', 'helvetica neue', helvetica, arial;
  padding:0;
  color:#333;
}

h1 {
  font-size:6em;
  color:$white;
  &:after {
    display: block;
    height: 10px;
    background-color: $red;
    content: " ";
    border-radius: 3px;
  }
  //border-bottom:solid 10px $red;
}

.wrapper {
}
.container {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  box-sizing: border-box;
  height: auto !important;

  & > div {
    background-color:$blue;
    position: absolute !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex !important;
    z-index: 1;

    left: -3000px;
    &.state-show {
      left: 0;
    }

    .slide-content {
      width:100%;
      max-width: 500px;
    }
  }
}
.content {
  box-sizing: border-box;
  padding:30px;
}
.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px;
  margin-bottom:20px;
}
