body {
  background-color: #eee;
}


.toggle-box {
  position: relative;
  width:300px;
  margin:0 auto 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.toggle-box.animate {
  overflow: hidden;
  transition: all .4s ease-in-out;
}
.state {
  box-sizing: border-box;
  padding:20px;
}
.toggle-box.animate .state {
  position: absolute;
  top:0;
}
.toggle-box .state {
  position: relative;
}


.toggle-box.static .state-hide {
  position: absolute;
  left:-3000px;
}

.toggle-box.animate .state {
  transition: all .4s ease-in-out;
}
.toggle-box .state {
  transition: all .4s ease-in-out;
}
.toggle-box .state-show {
  opacity: 1;
}
.toggle-box .state-hide {
  opacity: 0;
}
