body {
  background-color: #00C2DB;
  margin:50px;
  font-family: 'open sans';
}

.box.default {
  position: relative;
  width:300px;
  margin:0 auto 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  overflow: hidden;
  & > div {
    box-sizing: border-box;
    padding:20px;
    width:100%;
    position: relative;
  }
}

.box.slide {
  position: relative;
  width:300px;
  margin:0 auto 20px;
  //overflow: hidden; // BUGGY
  & > div {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    box-sizing: border-box;
    padding:20px;
    width:100%;
    position: relative;
  }
}

.box.flip {
  perspective: 1000px;
  position: relative;
  width:300px;
  margin:0 auto 20px;
  & > div {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-sizing: border-box;
    padding:20px;
    width:100%;
    position: relative;
  }
}


.box.zoom {
  position: relative;
  width:300px;
  margin:0 auto 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  overflow: hidden; // BUGGY
  & > div {
    box-sizing: border-box;
    padding:20px;
    width:100%;
    position: relative;
  }
}


.box.zoom2 {
  position: relative;
  width:300px;
  margin:0 auto 20px;
  & > div {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-sizing: border-box;
    padding:20px;
    width:100%;
    position: relative;
  }
}

#all {
  position: relative;
}
#all > div {
  box-sizing: border-box;
  width: 100%;
}
